<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>百度首页</title>
    <link rel="stylesheet" href="/stylesheets/normal.css">
    <link rel='stylesheet' href='/stylesheets/new.css' />
  </head>
  <body>
    <div class="wrapper">
        <header>
            <div class="logo">
                <!-- 顶部logo -->
                <div class="vip">
                    <!-- VIP操作 -->
                    <div class="baidubtn"></div>
                    <div class="baiduuser"></div>
                </div>
                <div class="more">
                    <!-- 右侧按钮 -->
                    <div class="baidusearch"></div>
                    <div class="baiduadd"></div>
                </div>
            </div>
        </header>
        <nav>
            <ul id="navlist">
                <!-- 新闻导航栏 -->
                <li data-newstype="hot">推荐</li>
                <li data-newstype="web">互联网</li>
                <li data-newstype="etm">娱乐</li>
            </ul>
        </nav>
        <article>
            <!-- 新闻显示 -->
            <div class="newsmain newshow baidunew">
                <div class='newslist'>
                    <div class='newsbox'>
                        <div class='newsimg'><img src="http://t11.baidu.com/it/u=http://inews.gtimg.com/newsapp_bt/0/96957944/1000&fm=36"></div>
                        <div class='newstext'>
                            <div class='newstitle'>das</div>
                            <div class='newscontent'>asdas</div>
                        </div>
                        <div class='addtime'>2010</div>
                    </div>
                </div>
            </div>
        </article>
        <footer>
            <!-- 底部导航 -->
            <ul>
                <li>意见反馈</li>
                <li>应用推荐</li>
                <li>客户端</li>
            </ul>
        </footer>
    </div>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/index.js"></script>

  </body>
</html>
